* {
    --gallery-color: #fff;
    --gallery-accent: var(--accent);
}

gallery {
    width: auto;
    height: fit-content;
    padding: 10px;
    margin: 0;

    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--gallery-color);
}

gallery * {
    display: block;
}

gallery img {
    max-width: 100%;
}

gallery year > legend {
    /* treat as h2 */
    display: block;
    width: auto;
    font-size: 1.8em;
    margin: 0 0 0.2em;
    font-weight: bold;

    cursor: pointer;
}

gallery year > content:not([visible="true"]),
gallery month > content:not([visible="true"]) {
    display: none;
}

gallery > month {
    display: flex;
    flex-direction: column;
}

gallery month > legend {
    min-width: 128px;
    height: 32px;

    display: flex;
    justify-content: left;
    align-items: center;
    text-wrap: nowrap;

    font-size: 1.3em;
    margin: 0 0 10px 10px;
    padding: 0 4px;
    font-weight: bold;
    position: relative;
    border: 1px solid var(--gallery-color);

    user-select: none;
}

gallery year > legend:hover,
gallery month > legend:hover {
    cursor: pointer;
    color: var(--gallery-accent);
}

gallery month > legend::before {
    content: "";
    display: block;
    width: 1px;
    height: calc(100% + 10px + 2px);

    position: absolute;
    left: -10px;
    top: -1px;

    background-color: var(--gallery-color);
}

gallery month:last-child > legend::before {
    height: calc(50% + 1px);
}

gallery month > legend::after {
    content: "";
    display: block;
    width: 10px;
    height: 1px;

    position: absolute;
    left: -10px;
    top: calc(50% - 0.5px);

    background-color: var(--gallery-color);
}

gallery month > content {
    width: auto;
    flex-grow: 1;

    padding: 10px;
    border: 1px solid var(--gallery-color);
    margin-left: 28px;
    margin-bottom: 10px;

    position: relative;
    display: flex;
    justify-content: left;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
}

gallery month:not(:last-child) > content::before {
    content: "";
    display: block;
    width: 1px;
    height: calc(100% + 10px + 2px);

    position: absolute;
    left: -28px;
    top: -1px;

    background-color: var(--gallery-color);
}

gallery month > content::after {
    content: "";
    display: block;
    width: 9px;
    height: 20px;

    position: absolute;
    left: -10px;
    top: -11px;

    border-style: solid;
    border-color: var(--gallery-color);
    border-width: 0 0 1px 1px;
}

gallery month > content > sep {
    width: 100%;
    height: fit-content;
    font-size: 1.3em;
    margin: 0;
    font-weight: bold;
    position: relative;
    border-bottom: 1px solid var(--gallery-color);
}

gallery month > content > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition-duration: .1s;
    border: 1px solid var(--gallery-color);
    position: relative;

    cursor: zoom-in;
}

gallery month > content > img:hover {
    transform: scale(1.5);
    z-index: 2147483647;
}