.project {
    width: 800px;
    height: 360px;
    background-color: rgba(58,58,90,0.8);
    color: #fff;
    border-radius: 24px;
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
    padding: 12px;
    transition: transform .5s cubic-bezier(0.22, 1, 0.36, 1), filter .5s cubic-bezier(0.22, 1, 0.36, 1), opacity .5s cubic-bezier(0.22, 1, 0.36, 1);
}
.project[state="closed"] {
    filter: blur(35px);
    transform: scale(0.1);
    opacity: 0;
}
.project[state="open"] {
    filter: blur(0px);
    transform: scale(1);
    opacity: 1;
}
.project::backdrop {
    backdrop-filter: blur(15px);
    transition: transform .5s cubic-bezier(0.22, 1, 0.36, 1), backdrop-filter .5s cubic-bezier(0.22, 1, 0.36, 1), opacity .5s cubic-bezier(0.22, 1, 0.36, 1);
}
.project[state="closed"]::backdrop {
    backdrop-filter: blur(0);
    opacity: 0;
}
.project[state="open"]::backdrop {
    backdrop-filter: blur(15px);
    opacity: 1;
}
.project-contents {
    height: 100%;
}
.project-embed {
    border-radius: 12px;
    overflow: hidden;
    aspect-ratio: 1;
    height: 100%;
    width: auto;
    display: flex;
}
.project-info {
    padding: 6px 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.project-info h1,
.project-info h3 {
    margin: 0
}
.project-dialog-buttons {
    position: absolute;
    right: -4px;
    top: -4px;
}
.project-dialog-buttons button {
    background-color: rgba(58,58,90,0.8);
    color: #fff;
    border-radius: 24px;
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.project-dialog-buttons button:hover {
    background-color: rgba(255,255,255,0.1);
}