@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Exa:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    position: relative;
    --primary: #aeacfe;
    --accent: #8febac;
}
body {
    margin: 0;
    font-family: 'Inter', 'Roboto', 'Noto Sans', sans-serif;
    background-color: #151244;
    color: #fff;
}
a:not(nav a) {
    text-decoration: none;
    color: var(--primary);
}
a:active {
    color: var(--accent);
}
a:visited {
    color: var(--primary);
}
.parallax-background {
    background-image: url('../img/banner.png');
    background-position: center;
    background-repeat: repeat;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    /*background-image: url('../img/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/

    padding: 2px 18px;
}
banner {
    width: 960px;
    max-width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: end;
}
@media screen and (min-width: 960px) {
    banner {
        /*padding: 2px 0;*/
    }
}
banner span {
    font-size: 48pt;
    font-weight: bold;
    font-family: 'Lexend Exa', 'Noto Sans', sans-serif;
}
banner img {
    width: 1280px;
    max-width: 100%;
    aspect-ratio: 5;
    z-index: 1;
    transform-origin: bottom center;
    /*transform: translateY(62px);*/
    position: relative;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
}
.navbar {
    width: 960px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    /*margin: -96px auto 96px;*/
    margin: auto;
    z-index: 3;
}
nav {
    width: min-content;
    max-width: 100%;
    height: 48px;
    /*padding: 0 18px;*/
    padding: 3px;
    margin: 12px 0;

    z-index: 10;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*background-color: #333;*/
    backdrop-filter: blur(13px);
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 48px;
}
nav a,
nav button {
    text-decoration: none;
    text-wrap: nowrap;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    /*margin: 0 6px;*/
    margin: 0;

    background: none;
    border: none;
    color: #fff;
    font-size: 12pt;
    border-radius: 48px;

    transition: 0.2s color ease;
}
nav a:hover,
nav button:hover {
    color: var(--primary);
    cursor: default;
}
nav a.active,
nav button.active {
    color: var(--accent);
    /*background-color: hwb(from var(--accent) h w b / 0.3);*/
}

main {
    background-color: rgba(58,58,90,0.8);
    border-radius: 24px;
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
    padding: 0;
    z-index: 2;
    width: 1200px;
    max-width: 100%;
    /*margin: 0 12px 64px;*/
    margin: 0 auto 64px;
}
@media screen and (max-width: 959px) {
    main {
        margin: 0;
        padding: 0 24px;
    }
}

pagecontainer {
    display: block;
    width: 100%;
    overflow: hidden;
}
pagebounds {
    display: flex;
    flex-direction: row;
    width: 400%;
    position: relative;
    left: 0;
    transition: left .5s cubic-bezier(0.22, 1, 0.36, 1);
}
page {
    display: block;
    width: 25%;
    height: 100%;
    padding: 0 24px;
}
.main {
    display: block;
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}

/* Grid Boxes */

grid {
    width: 100%;
    height: auto;
    aspect-ratio: 4/6;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 12px 12px;
    grid-auto-flow: row;
    grid-template-areas:
        "home-01 home-01 home-02 home-02"
        "home-01 home-01 home-03 home-04"
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . .";
}

grid item {
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: url('https://picsum.photos/1280/720');*/
    background-image: url('../img/bear.jpg');
}
iframe.video-js {
    aspect-ratio: 16 / 9;
    border: none;
    width: 100%;
    max-width: 480px;
}
.socials {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.socials li img {
    width: 24px;
}
.socials li a {
    text-decoration: none;
    color: #fff;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    background-color: rgba(255,255,255,0.2);
}
.socials li a:active {
    color: var(--accent);
}
.socials li span {
    display: none;
}