@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Exa:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    --accent: HSL(6, 70%, 70%);
}
body {
    margin: 0;
    font-family: 'Inter', 'Roboto', 'Noto Sans', sans-serif;
    background-color: #fff;
    color: #000;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
banner {
    width: 960px;
    max-width: 100%;
    height: 180px;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 2px 18px;
}
@media screen and (min-width: 960px) {
    banner {
        padding: 2px 0;
    }
}
banner span {
    font-size: 48pt;
    font-weight: bold;
    font-family: 'Lexend Exa', 'Noto Sans', sans-serif;
}
nav {
    width: 100%;
    height: 48px;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*background-color: #333;*/
    backdrop-filter: blur(13px);
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}
nav a {
    text-decoration: none;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;

    transition: 0.2s color ease;
}
nav a:hover {
    color: var(--accent);
    cursor: pointer;
}

pagecontainer {
    display: block;
    width: 100%;
    overflow: hidden;
}
pagebounds {
    display: flex;
    flex-direction: row;
    width: 400%;
    position: relative;
    left: 0;
    transition: left .5s cubic-bezier(0.22, 1, 0.36, 1);
}
page {
    display: block;
    width: 100%;
    height: 100%;
}
.main {
    display: block;
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}

/* Grid Boxes */

grid {
    width: 100%;
    height: auto;
    aspect-ratio: 4/6;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 12px 12px;
    grid-auto-flow: row;
    grid-template-areas:
        "home-01 home-01 home-02 home-02"
        "home-01 home-01 home-03 home-04"
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . .";
}

grid item {
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://picsum.photos/1280/720');
}